
body {
  padding: 5px;
  margin: 5px;
  text-align: center;
  background-image: linear-gradient(90deg, #2CD8D5, #6B8DD6, #8E37D7);
  font-family: 'Lato', sans-serif;
}

.btnContainer {
  margin: 10px;
  display: grid;
  /* auto-fit - Llena los espacios para completar el espacio/ auto-fill deja espacios sin llenar */
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); 
  gap: 5px;
  grid-auto-rows: 3rem;
  transition: all 0.3s;
 }


/*  auto-fit - Llena los espacios para completar el espacio/ auto-fill deja espacios sin llenar */
/* .panelExamen {
  width: 100%;
  height: 530px;
  
  display: grid;
 
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); 
  gap: 1rem;
  grid-auto-rows: auto; 
} */

/* MODAL */
/* .modal {
  margin: auto;
  padding-left: auto;

  width: fit-content;
  justify-content: center;
  justify-items: center;
  
}
 */

.modal-header {
  height: 3rem;
}
/* ESTILOS PARA TABLA*/

td {
text-align: center;
justify-content: center;
}

th {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

.modal input {
  height: 30px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} 

tbody {
  height: 200px;
}

/* .table {
  height: 5rem;
  width: auto;
} */

p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* ESTILOS PARA EXAMEN */
.contenedor {
position: absolute;
top: 70px;
left: 0;
right: 0;
}

.encabezado {
  justify-content: center;
  position: relative;
  background: white;
/*   min-width: 600px;
  width: 100%;
  max-width: 600px; */
  
  padding: 15px;
  margin-right: 15px;
  margin-left: 15px;
  transition: all 0.3s;
  border-radius: 6px;
}

.categoria {
  opacity: 0.3;
  text-align: left;
  transition: all 0.3s;
}

.pregunta {
  padding: 10px;
  transition: all 0.3s;
}

.imagen {
  object-fit: cover;
  height: 0px;
  width: 0px;
  transition: all 0.3s;
}

#btn1 {
  background: white;
  width: 60%;
  max-width: 550px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

#btn2 {
  background: white;
  width: 60%;
  max-width: 550px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

#btn3 {
  background: white;
  width: 60%;
  max-width: 550px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

#btn4 {
  background: white;
  width: 60%;
  max-width: 550px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

#btn5 {
  background: white;
  width: 60%;
  max-width: 550px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

#btnSalirExamen{
  background: #de3f43;
  color: white;
  padding: 10px;
  margin: 5px;
  min-width: 100px;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0; 
}

#btn1:hover {
  transform: scale(1.05);
}
#btn2:hover {
  transform: scale(1.05);
}
#btn3:hover {
  transform: scale(1.05);
}
#btn4:hover {
  transform: scale(1.05);
}
#btn5:hover {
  transform: scale(1.05);
}

.numero {
  position: absolute;
  opacity: 0.3;
  top: 10px;
  right: 10px;
  visibility: hidden;
}

.puntaje {
  width: 7rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 3px;
  justify-content: center;
  margin-right: 5%;
  gap: 5px;
  color: white;
  font-size: 15px;
  background-color: #4585e8;
  border-radius: 10px;
}

#img {
  margin-left: 1rem;
}

.timer-container{
  width: 7rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 3px;
  justify-content: center;
  gap: 5px;
  color: white;
  font-size: 15px;
  background-color: #d85251;
  border-radius: 10px;
}

.encabezadoPregunta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.navbar {
  border-radius: 6px;
}